<!-- ============================================ -->
<!--                 Navigation                   -->
<!-- ============================================ -->

<header id="cs-navigation">
    <div class="cs-container">
        <!--Nav Logo-->
        <a href="/" class="cs-logo" aria-label="back to home">
            <img src="/assets/images/main-logo.webp" alt="logo" width="403" height="131" aria-hidden="true" decoding="async">
        </a>
        <!--Navigation List-->
        <nav class="cs-nav" role="navigation">
            <!--Mobile Nav Toggle-->
            <button class="cs-toggle" aria-label="mobile menu toggle">
                <div class="cs-box" aria-hidden="true">
                    <span class="cs-line cs-line1" aria-hidden="true"></span>
                    <span class="cs-line cs-line2" aria-hidden="true"></span>
                    <span class="cs-line cs-line3" aria-hidden="true"></span>
                </div>
            </button>
            <!-- We need a wrapper div so we can set a fixed height on the cs-ul in case the nav list gets too long from too many dropdowns being opened and needs to have an overflow scroll. This wrapper acts as the background so it can go the full height of the screen and not cut off any overflowing nav items while the cs-ul stops short of the bottom of the screen, which keeps all nav items in view no matter how many there are-->
            <div class="cs-ul-wrapper">
                <ul id="cs-expanded" class="cs-ul" aria-expanded="false">
                    <li class="cs-li">
                        <a href="/" class="cs-li-link cs-active">
                            Home
                        </a>
                    </li>
                    <li class="cs-li">
                        <a href="/#services-341" class="cs-li-link">
                            Services
                        </a>
                    </li>
                    <li class="cs-li">
                        <a href="/#sbsr-2420" class="cs-li-link">
                            About
                        </a>
                    </li>
                    <li class="cs-li cs-hide-on-desktop">
                        <a href="/#cs-contact-490" class="cs-li-link">
                            Contact
                        </a>
                    </li>
                    <li class="cs-li">
                        <a href="/#cs-contact-490" class="cs-li-link">
                            &#x1F4DE; 0455 559 394
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        <a href="/#cs-contact-490" class="cs-button-solid cs-nav-button">Get Free Quote</a>
        <!-- dark mode button removed -->
    </div>
</header>