/*-- -------------------------- -->
<--- Services 2+2 card - services CS 341  -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #services-341 {
        padding: var(--sectionPadding);

        .cs-container {
            width: 100%;
            max-width: (1280/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
        }

        .cs-card-group {
            width: 100%;
            padding: 0;
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            /* 16px - 20px */
            gap: clamp(1rem, 1.6vw, 1.25rem);
        }

        .cs-item {
            list-style: none;
            width: 100%;
            max-width: (500/16rem);
            border-radius: (8/16rem);
            position: relative;
            z-index: 1;
            transition:
                box-shadow 0.3s,
                transform 0.3s;

            &:hover {
                box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
                transform: translateY(-0.4375rem);
                .cs-picture {
                    img {
                        opacity: 0.3;
                        transform: scale(1.1);
                    }
                }
                .cs-h3 {
                    color: var(--primary);
                }
            }

            &:before {
                /* border, done in pseudo so it can sit under the picture */
                content: "";
                width: 100%;
                height: 100%;
                border-radius: (8/16rem);
                border: 1px solid #e8e8e8;
                /* prevents border from affecting height and width */
                box-sizing: border-box;
                background: transparent;
                opacity: 1;
                position: absolute;
                display: block;
                top: 0;
                left: 0;
                z-index: -1;
            }
        }

        .cs-link {
            /* 16px - 24px */
            padding-bottom: clamp(1rem, 2.2vw, 1.5rem);
            display: block;
        }

        .cs-picture {
            width: 100%;
            height: (240/16rem);
            /* 16px - 24px */
            margin-bottom: clamp(1rem, 2.2vw, 1.5rem);
            border-radius: (8/16rem) (8/16rem) 0 0;
            background-color: var(--primaryLight);
            /* clips the img tag corners */
            overflow: hidden;
            display: block;
            position: relative;
            z-index: 10;

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                object-fit: cover;
                transition:
                    transform 0.6s,
                    opacity 0.3s;
            }
        }

        .cs-h3 {
            /* 20px - 25px */
            font-size: clamp(1.25rem, 3vw, 1.5625rem);
            line-height: 1.2em;
            font-weight: 700;
            color: var(--headerColor);
            margin: 0 0 (12/16rem) 0;
            /* 16px - 24px */
            padding: 0 clamp(1rem, 2vw, 1.5rem);
            transition: color 0.3s;
        }

        .cs-item-no-img {   /* V added to adjust top padding coz no img */
            .cs-h3 {
                padding-top: clamp(1rem, 2vw, 1.5rem);
            }
        }


        .cs-item-text {
            /* 14px - 16px  */
            font-size: clamp(1rem, 1.5vw, 1.1rem);
            line-height: 1.5em;
            color: var(--bodyTextColor);
            margin: 0;
            /* 16px - 24px */
            padding: 0 clamp(1rem, 2.2vw, 1.5rem);
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #services-341 {
        .cs-card-group {
            flex-direction: row;
        }
    }
}


/*-- -------------------------- -->
<---   Stats 1 & 2 - CS 315     -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #stats-315, #stats-315-2 {
        padding: var(--sectionPadding);
        background-color: #d3d3d3;

        .cs-card-group {
            width: 100%;
            /* changes to 1280px at desktop */
            max-width: (600/16rem);
            margin: auto;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: (40/16rem);
        }

        .cs-item {
            list-style: none;
            /* set fixed width so they can all be aligned on the left */
            width: (235/16rem);
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: flex-start;
            align-items: center;
        }

        .cs-picture {
            width: (80/16rem);
            height: (80/16rem);
            /* 12px - 20px */
            margin-right: clamp(0.75rem, 3vw, 1.25rem);
            border-radius: 50%;
            border: 1px solid var(--bodyTextColor);
            display: flex;
            justify-content: center;
            align-items: center;
            /* prevents flexbox from squishing it */
            flex: none;
        }

        .cs-icon {
            width: (40/16rem);
            height: auto;
        }

        .cs-flex-group {
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;
        }

        .cs-number {
            font-size: var(--headerFontSize);
            color: var(--headerColor);
            font-weight: 900;
            line-height: 1.2em;
            margin: 0;
            display: block;
        }

        .cs-stat {
            font-size: 1.2rem;
            line-height: 1.5em;
            color: var(--bodyTextColor);
            display: block;
        }
    }
}

/* Tablet - 650px */
@media only screen and (min-width: 40.625rem) {
    #stats-315, #stats-315-2 {
        .cs-card-group {
            flex-direction: row;
            flex-wrap: wrap;
            column-gap: (20/16rem);
            row-gap: (32/16rem);
        }
    }
}

/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #stats-315, #stats-315-2 {
        .cs-card-group {
            max-width: (1280/16rem);
            flex-wrap: nowrap;
            justify-content: space-evenly;
        }
    }
}


/*-- -------------------------- -->
<---    About - SBSr CS 2420    -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #sbsr-2420 {
        padding: var(--sectionPadding);
        position: relative;
        z-index: 1;

        &:before {
            /* background color overlay */
            content: "";
            width: 100%;
            height: 100%;
            background: var(--primary);
            opacity: 0.05;
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
        }

        .cs-container {
            width: 100%;
            /* changes to 1280px at desktop */
            max-width: (550/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: justify;
            width: 100%;
            max-width: (580/16rem);
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: flex-start;
        }

        .cs-content-wrapper {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-text {
            margin-bottom: (32/16rem);
        }

        .cs-ul {
            width: 100%;
            list-style: none;
            margin: 0 0 (32/16rem) 0;
            padding: 0;
            /* prevents padding from affecting width and height */
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: (8/16rem);
        }

        .cs-li {
            font-size: var(--bodyFontSize);
            line-height: 1.5em;
            text-align: left;
            font-weight: 700;
            width: 100%;
            margin: 0;
            color: var(--bodyTextColor);
            display: flex;
            align-items: center;
            gap: (12/16rem);
            position: relative;
        }

        .cs-li-icon {
            width: (16/16rem);
            height: auto;
            flex: none;
            display: block;
            position: relative;
        }

        .cs-image-group {
            /* scaling entire section down. font-size starts at a min in vw, and stops when that vales equals .74em, resets at desktop */
            font-size: ~"min(2.3vw, .6em)";
            width: (630/16em);
            height: (704/16em);
            position: relative;

            figcaption {
                font-size: 1rem;
            }
        }

        .cs-picture {
            width: 100%;
            height: (704/16em);
            display: block;
            position: relative;

            img {
                height: 100%;
                width: 100%;
                object-fit: contain;
                position: relative;
                bottom: 0;
                left: 0;
            }
        }


        .cs-wrapper {
            width: 100%;
            max-width: (580/16rem);
            display: flex;
            flex-direction: column;
            /* 16px - 32px */
            gap: clamp(1rem, 1.9vw, 2rem);
        }

        .cs-graphic-group {
            /* 96px - 157px */
            width: clamp(6rem, 10vw, 9.8125rem);
            height: clamp(6rem, 10vw, 9.8125rem);
            flex: none;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
        }

        .cs-circle-small {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
        }


        .cs-header {
            /* 20px - 25px */
            font-size: clamp(1.25rem, 2.9vw, 1.5625rem);
            font-weight: 700;
            margin-bottom: (12/16rem);
            display: block;
        }

        .cs-graphic-text {
            margin-bottom: 0;
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #sbsr-2420 {
        .cs-wrapper {
            flex-direction: row;
        }
    }
}

/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #sbsr-2420 {
        .cs-container {
            max-width: (1280/16rem);
            flex-direction: row;
            align-items: flex-start;
        }

        .cs-image-group {
            /* reset the scale */
            font-size: ~"min(0.95vw, 1rem)";
            /* prevent flexbox from squishing it */
            flex: none;
            order: 2;
        }

        .cs-content-wrapper {
            width: 50%;
        }
    }
}


/*-- -------------------------- -->
<---      Contact CS 490       -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #cs-contact-490 {
        padding: var(--sectionPadding);

        .cs-container {
            width: 100%;
            /* changes to 1280px at desktop */
            max-width: (550/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            gap: (48/16rem);
        }

        .cs-content {
            max-width: (522/16rem);
            text-align: left;
        }

        .cs-text {
            /* 16px - 48px */
            margin: 0 0 clamp(1rem, 4.4vw, 3rem) 0;
        }

        .cs-header {
            /* 13px - 16px */
            font-size: clamp(0.8125rem, 1.5vw, 1rem);
            line-height: 1.2em;
            text-transform: uppercase;
            font-weight: 700;
            letter-spacing: 0.1em;
            margin: 0 0 (16/16rem) 0;
            color: #838383;
            display: block;
        }

        .cs-link {
            /* 16px - 20px */
            font-size: clamp(1rem, 2vw, 1.25rem);
            text-decoration: none;
            line-height: 1.5em;
            font-weight: 700;
            /* 16px - 32px */
            margin: 0 0 clamp(1rem, 2.5vw, 2rem);
            color: var(--bodyTextColor);
            display: block;

            &:hover {
                text-decoration: underline;
            }

            &:last-of-type {
                margin-bottom: 0;
            }
        }

        .cs-social {
            /* 32px - 80px */
            margin-top: clamp(2rem, 6vw, 5rem);
            display: inline-flex;
            justify-content: flex-start;
            gap: (12/16em);
        }

        .cs-social-link {
            /* 32px - 52px */
            width: clamp(2rem, 4vw, 3.25rem);
            height: clamp(2rem, 4vw, 3.25rem);
            background-color: #4e4b66;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            z-index: 1;
            transition:
                transform 0.3s,
                background-color 0.3s;

            &:hover {
                background-color: var(--primary);
                transform: translateY(-0.1875rem);
            }
        }

        .cs-social-img {
            /* 14px - 24px */
            height: clamp(0.875rem, 2vw, 1.5rem);
            width: auto;
            display: block;
        }

        #cs-form-490 {
            width: 100%;
            max-width: (650/16rem);
            /* 32px - 40px */
            margin-bottom: clamp(2rem, 5.3vw, 2.5rem);
            /* 20px - 40px */
            padding: clamp(1.25rem, 4.5vw, 2.5rem);
            /* prevents padding from affecting width and height */
            box-sizing: border-box;
            border: 1px solid #dad9e3;
            border-radius: (16/16rem);
        }

        .cs-label {
            /* 14px - 16px */
            font-size: clamp(0.875rem, 1.3vw, 1rem);
            line-height: 1.5em;
            font-weight: 700;
            /* 16px - 20px */
            margin-bottom: clamp(1rem, 1em, 1.25rem);
            color: var(--headerColor);
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;
        }

        .cs-label-message {
            /* 32px - 40px */
            margin-bottom: clamp(2rem, 4.5vw, 2.5rem);
        }

        .cs-input,
        textarea {
            font-size: (16/16rem);
            width: 100%;
            height: (64/16rem);
            margin-top: (4/16rem);
            padding-left: (20/16rem);
            /* set transparent border so on hover border doesn't make it glitch */
            border: 1px solid transparent;
            border-bottom: 1px solid #b4b2c7;
            /* prevents border & padding from affecting height */
            box-sizing: border-box;
            transition: border 0.3s;

            &:hover {
                border: 1px solid var(--primary);
            }

            &::placeholder {
                color: #7d799c;
            }
        }

        textarea {
            font-family: inherit;
            margin: 0;
            padding-top: (20/16rem);
            min-height: (120/16rem);
        }

        .cs-button-solid {
            font-size: (16/16rem);
            /* 46px - 56px */
            line-height: clamp(2.875em, 5.5vw, 3.5em);
            text-decoration: none;
            font-weight: 700;
            text-align: center;
            margin: auto;
            margin-top: 2rem;
            width: 100%;
            color: #fff;
            padding: 0 (24/16rem);
            background-color: var(--primary);
            border: none;
            border-radius: (8/16rem);
            display: inline-block;
            position: relative;
            z-index: 1;
            /* prevents padding from adding to the width */
            box-sizing: border-box;

            &:before {
                content: "";
                position: absolute;
                height: 100%;
                width: 0%;
                background: #000;
                opacity: 1;
                top: 0;
                left: 0;
                z-index: -1;
                border-radius: (8/16rem);
                transition: width 0.3s;
            }

            &:hover {
                cursor: pointer;
                &:before {
                    width: 100%;
                }
            }
        }
    }
}

/* Tablet - 700px */
@media only screen and (min-width: 43.75rem) {
    #cs-contact-490 {
        .cs-container {
            max-width: (1280/16rem);
            flex-direction: row;
            justify-content: space-between;
        }

        .cs-content {
            width: 40%;
            /* pushes it to the right */
            order: 2;
            flex: none;
        }

        #cs-form-490 {
            margin: 0;
        }
    }
}


/*-- -------------------------- -->
<---     Reviews - CS 399       -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #reviews-399 {
        padding: var(--sectionPadding);
        background-color: #f7f7f7;

        .cs-container {
            width: 100%;
            max-width: (1440/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
        }

        .cs-card-group {
            width: 100%;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            /* 16px - 20px */
            gap: clamp(1rem, 2.5vw, 1.15rem);
        }

        .cs-item {
            list-style: none;
            width: 100%;
            max-width: (630/16rem);
            /* prevents padding from adding to height and width */
            box-sizing: border-box;
            /* 20px - 40px top & bottom */
            /* 20px - 40px left & right */
            padding: clamp(1.25rem, 3.15vw, 2.5rem) clamp(1.25rem, 3.15vw, 2.5rem);
            background-color: #e3e3e3;
            border-radius: (16/16rem);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            position: relative;
        }

        .cs-quote {
            width: (40/16rem);
            height: auto;
            margin-bottom: (32/16rem);
            display: block;
        }

        .cs-quote-white {
            width: (60/16rem);
            height: auto;
            display: block;
            position: absolute;
            right: (24/16rem);
            bottom: 0;
            z-index: 1;
        }

        .cs-review {
            /* 14px - 20px */
            font-size: clamp(0.875rem, 1.6vw, 1.25rem);
            line-height: 1.5em;
            margin: 0;
            /* 20px - 40px */
            margin-bottom: clamp(1.25rem, 3vw, 2.5rem);
            color: var(--bodyTextColor);
        }

        .cs-flex-group {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: (12/16rem);
        }

        .cs-profile {
            width: (50/16rem);
            height: (50/16rem);
            /* clips image corners to make circle */
            overflow: hidden;
            border: 4px solid #fff;
            border-radius: 50%;
            display: block;
            position: relative;

            img {
                width: 100%;
                height: 100%;
                /* makes the image behave like a background image */
                object-fit: cover;
                position: absolute;
                top: 0;
                left: 0;
            }
        }

        .cs-name {
            /* 20px - 25px */
            font-size: clamp(1.25rem, 3vw, 1.5625rem);
            font-weight: 700;
            line-height: 1.2em;
            margin: 0;
            /* in case one card has more text than the other, this pushes up against the review text so the name and title are always at the bottom. Only works if parent is a flexbox */
            margin-top: auto;
            color: var(--headerColor);
            display: block;
            z-index: 2;
        }

        .cs-job {
            /* 14px - 16px */
            font-size: clamp(0.875rem, 1.6vw, 1rem);
            font-weight: 400;
            line-height: 1.5em;
            margin: 0;
            color: var(--bodyTextColor);
            display: block;
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #reviews-399 {
        .cs-card-group {
            flex-direction: row;
            justify-content: center;
            align-items: stretch;
            flex-wrap: wrap;
        }

        .cs-item {
            width: clamp(31.5%, 30vw, 32.3%);
        }
    }
}
                                